<!DOCTYPE html>
<html>
<head>
  <title>Wikiflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" 
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js ">
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
	<div class="navbar">
	  <div class="navbar-inner">
	  	<div class="container">
		    <a class="brand" href="#">Title</a>
		    <ul class="nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Link</a></li>
		      <li><a href="#">Link</a></li>
		    </ul>
		</div>
	  </div>
	</div>

<%= yield %>

</body>
</html>
